* {
  box-sizing: border-box;
}

.container-app {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 100vw;

  .container-options {
    background-color: rgb(254, 255, 255);
    align-self: flex-start;
    border-radius: 10px;
    padding: 50px;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
      rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    margin-right: 20px;

    h1 {
      text-align: center;
      font-weight: 1000;
    }

    .input-settings {
      width: 100%;
    }

    .container-button {
      display: flex;
      padding: 5rem;

      h3 {
        font-weight: 700;
      }

      button {
        width: 200px;
        margin-left: 10px;
      }
    }
  }
}
